<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.jk.talk.mapper.TalkMapper" >

    <select id="queryTalk" resultType="java.util.Map" parameterType="integer">
        select * FROM t_talk t
        LEFT JOIN cms_user cu on t.talkuserid=cu.cmsUserId
        LEFT JOIN t_commodity cc on t.talkproductid=cc.productId
        where t.talkproductid =#{id,jdbcType=INTEGER}

        order by t.talktime desc
    </select>
  </mapper>