<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MyStore premium HTML5 &amp; CSS3 template</title>
    <meta name="description" content="">

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700' rel='stylesheet' type='text/css'>

    <!-- CSS Style -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

    <!-- font-awesome & simple line icons CSS -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="../css/simple-line-icons.css" media="all">

    <!-- owl.carousel CSS -->
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.transitions.css">

    <!-- animate CSS  -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css" media="all">

    <!-- flexslider CSS -->
    <link rel="stylesheet" type="text/css" href="../css/flexslider.css" >

    <!-- jquery-ui.min CSS  -->
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">

    <!-- Mean Menu CSS -->
    <link rel="stylesheet" type="text/css" href="../css/meanmenu.min.css">

    <!-- nivo-slider css -->
    <link rel="stylesheet" type="text/css" href="../css/nivo-slider.css">

    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all">
    <!-- jquery js -->
    <script type="text/javascript" src="../javascript/jquery.min.js"></script>

    <script src="../javascript/bootstrap.min.js"></script>

    <!-- Mean Menu js -->
    <script type="text/javascript" src="../javascript/jquery.meanmenu.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="../javascript/owl.carousel.min.js"></script>

    <!-- bxslider js -->
    <script type="text/javascript" src="../javascript/jquery.bxslider.js"></script>

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="../javascript/jquery-ui.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="../javascript/countdown.js"></script>

    <!-- wow JS -->
    <script type="text/javascript" src="../javascript/wow.min.js"></script>

    <!--cloud-zoom js -->
    <script type="text/javascript" src="../javascript/cloud-zoom.js"></script>


    <!-- nivo slider js -->
    <script type="text/javascript" src="../javascript/jquery.nivo.slider.js"></script>

    <!-- flexslider js -->
    <script type="text/javascript" src="../javascript/jquery.flexslider.js"></script>


</head>

<body class="wishlist_page">





<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div id="page">
    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-xs-12">
                        <!-- Header Logo -->
                        <div class="logo"><a title="e-commerce" href="../to/index"><img alt="e-commerce" src="../images2/logo.png"></a> </div>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
                        <!-- Search -->

                        <div class="top-search">
                            <div id="search">
                                <form>
                                    <div class="input-group">
                                        <select class="cate-dropdown hidden-xs hidden-sm" name="category_id" onchange="selecFacon(this.value)">
                                            <!--主搜有下拉-->
                                            <option  value="">所有分类</option>
                                            <option value="1">手机</option>
                                            <option value="2">电脑</option>
                                            <option value="3">电视</option>
                                        </select>
                                        <input type="text" class="form-control" placeholder="Search" name="search"  id="headinputid">
                                        <button class="btn-search" type="button" onclick="queryTypeHead()"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- End Search -->
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-12 top-cart">
                        <div class="link-wishlist"> <a href="#"> <span class="wishlist-count">3</span> <i class="fa fa-heart fa-lg"></i> </a> </div>
                        <div class="top-cart-contain">
                            <div class="mini-cart">
                                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="#">
                                    <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
                                    <div class="shoppingcart-inner"><span class="cart-title">Shopping Cart</span> <span class="cart-total">4 Item(s): $520.00</span></div>
                                </a></div>
                                <div>
                                    <div class="top-cart-content">
                                        <div class="block-subtitle hidden-xs">Recently added item(s)</div>
                                        <ul id="cart-sidebar" class="mini-products-list">
                                            <li class="item odd"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="../images2/products/img07.jpg" alt="Lorem ipsum dolor" width="65"></a>
                                                <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                                                    <p class="product-name"><a href="#">Lorem ipsum dolor sit amet Consectetur</a> </p>
                                                    <strong>1</strong> x <span class="price">$20.00</span> </div>
                                            </li>
                                            <li class="item even"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="../images2/products/img08.jpg" alt="Lorem ipsum dolor" width="65"></a>
                                                <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                                                    <p class="product-name"><a href="#">Consectetur utes anet adipisicing elit</a> </p>
                                                    <strong>1</strong> x <span class="price">$230.00</span> </div>
                                            </li>
                                            <li class="item last odd"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="../images2/products/img10.jpg" alt="Lorem ipsum dolor" width="65"></a>
                                                <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                                                    <p class="product-name"><a href="#">Sed do eiusmod tempor incidist</a> </p>
                                                    <strong>2</strong> x <span class="price">$420.00</span> </div>
                                            </li>
                                        </ul>
                                        <div class="top-subtotal">Subtotal: <span class="price">$520.00</span></div>
                                        <div class="actions">
                                            <button onclick="location.href='checkout.html'" class="btn-checkout" type="button"><i class="fa fa-check"></i><span>Checkout</span></button>
                                            <button onclick="location.href='shopping_cart.html'"  class="view-cart" type="button"><i class="fa fa-shopping-cart"></i> <span>View Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- Start Menu Area -->
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-xs">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li ><a href="javascript:queryType(1)">手机</a>
                                    <ul class="dropdown">

                                        <span id="phoneIdd"></span>

                                    </ul>
                                </li>
                                <li ><a href="javascript:queryType(2)">电脑</a>
                                    <ul class="dropdown">

                                        <span id="compIdd"></span>

                                    </ul>
                                </li>
                                <li ><a href="javascript:queryType(3)">电视</a>
                                    <ul class="dropdown">

                                        <span id="tevleIdd"></span>

                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- Signup -->
                        <p class="top-Signup"><span id="loginIdd"></span></p>
                        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"> <img id="img_logo" src="../images2/logo.png" alt="logo">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
                                    </div>
                                    <div id="div-forms">
                                        <form id="login-form">
                                            <div class="modal-body">
                                                <div id="div-login-msg"> <span id="text-login-msg">Username or email address </span> </div>
                                                <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                                                <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">
                                                        Remember me </label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div>
                                                    <button type="submit" class="btn-login">Login</button>
                                                </div>
                                                <div>
                                                    <button onclick="location.href='account_page.html'" id="login_register_btn" type="button" class="btn btn-link">Register</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END # MODAL LOGIN -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Menu Area -->

    <!-- Start Mobile Menu -->
    <div class="mobile-menu hidden-sm hidden-md hidden-lg">
        <nav><span class="mobile-menu-title">Categories</span>
            <ul>
                <li class=""><a href="index.html">Home</a>
                <li><a href="../Version1/index.html">Home Version 1</a></li>
                <li><a href="../Version2/index.html">Home Version 2</a></li>
                <li><a href="../Version3/index.html">Home Version 3</a></li>
                <li><a href="../Version4/index.html">Home Version 4</a></li>
                <li><a href="index.html">Home Version 5</a></li>

            </ul>
            </li>
            <li><a href="shop_grid.html">Pages</a>
                <ul>
                    <li><a href="shop_grid.html" class="">Shop Pages </a>
                        <ul>
                            <li> <a href="shop_grid.html"> Shop grid </a> </li>
                            <li> <a href="shop_grid_right_sidebar.html"> Shop grid right sidebar</a> </li>
                            <li> <a href="shop_list.html"> Shop list </a> </li>
                            <li> <a href="shop_list_right_sidebar.html"> Shop list right sidebar</a> </li>
                            <li> <a href="shop_grid_full_width.html"> Shop Full width </a> </li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">Ecommerce Pages </a>
                        <ul>
                            <li> <a href="wishlist.html"> Wishlists </a> </li>
                            <li> <a href="checkout.html"> Checkout </a> </li>
                            <li> <a href="compare.html"> Compare </a> </li>
                            <li> <a href="shopping_cart.html"> Shopping cart </a> </li>
                            <li> <a href="quick_view.html"> Quick View </a> </li>
                        </ul>
                    </li>
                    <li> <a href="shop_grid.html">Static Pages </a>
                        <ul>
                            <li> <a href="account_page.html"> Create Account Page </a> </li>
                            <li> <a href="about_us.html"> About Us </a> </li>
                            <li> <a href="contact_us.html"> Contact us </a> </li>
                            <li> <a href="404error.html"> Error 404 </a> </li>
                            <li> <a href="faq.html"> FAQ </a> </li>
                        </ul>
                    </li>
                    <li> <a href="shop_grid.html">Product Categories </a>
                        <ul>
                            <li> <a href="cat-3-col.html"> 3 Column Sidebar </a> </li>
                            <li> <a href="cat-4-col.html"> 4 Column Sidebar</a> </li>
                            <li> <a href="cat-4-col-full.html"> 4 Column Full width </a> </li>
                            <li> <a href="col3-sidebar.html"> col3 Sidebar</a> </li>
                        </ul>
                    </li>
                    <li> <a href="shop_grid.html">Single Product Pages </a>
                        <ul>
                            <li><a href="single_product.html"> single product </a> </li>
                            <li> <a href="single_product_left_sidebar.html"> single product left sidebar</a> </li>
                            <li> <a href="single_product_right_sidebar.html"> single product right sidebar</a> </li>
                            <li> <a href="single_product_magnify_zoom.html"> single product magnify zoom</a> </li>
                        </ul>
                    </li>
                    <li> <a href="shop_grid.html"> Blog Pages </a>
                        <ul>
                            <li><a href="blog_right_sidebar.html">Blog – Right sidebar </a></li>
                            <li><a href="blog_left_sidebar.html">Blog – Left sidebar </a></li>
                            <li><a href="blog_full_width.html">Blog_ - Full width</a></li>
                            <li><a href="single_post.html">Single post </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="shop_grid.html">Women</a>
                <ul class="">
                    <li><a href="">Clother</a>
                        <ul>
                            <li><a href="shop_grid.html">Cocktail</a></li>
                            <li><a href="shop_grid.html">Day</a></li>
                            <li><a href="shop_grid.html">Evening</a></li>
                            <li><a href="shop_grid.html">Sports</a></li>
                            <li><a href="shop_grid.html">Sexy Dress</a></li>
                            <li><a href="shop_grid.html">Fsshion Skirt</a></li>
                            <li><a href="shop_grid.html">Evening Dress</a></li>
                            <li><a href="shop_grid.html">Children's Clothing</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">Dress and skirt</a>
                        <ul>
                            <li><a href="shop_grid.html">Sports</a></li>
                            <li><a href="shop_grid.html">Run</a></li>
                            <li><a href="shop_grid.html">Sandals</a></li>
                            <li><a href="shop_grid.html">Books</a></li>
                            <li><a href="shop_grid.html">A-line Dress</a></li>
                            <li><a href="shop_grid.html">Lacy Looks</a></li>
                            <li><a href="shop_grid.html">Shirts-T-Shirts</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">shoes</a>
                        <ul>
                            <li><a href="shop_grid.html">blazers</a></li>
                            <li><a href="shop_grid.html">table</a></li>
                            <li><a href="shop_grid.html">coats</a></li>
                            <li><a href="shop_grid.html">Sports</a></li>
                            <li><a href="shop_grid.html">kids</a></li>
                            <li><a href="shop_grid.html">Sweater</a></li>
                            <li><a href="shop_grid.html">Coat</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=""><a href="shop_grid.html">Men</a>
                <ul class="">
                    <li><a href="shop_grid.html">Bages</a>
                        <ul>
                            <li><a href="shop_grid.html">Bootes Bages</a></li>
                            <li><a href="shop_grid.html">Blazers</a></li>
                            <li><a href="shop_grid.html">Mermaid</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">Clothing</a>
                        <ul>
                            <li><a href="shop_grid.html">coats</a></li>
                            <li><a href="shop_grid.html">T-shirt</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">lingerie</a>
                        <ul>
                            <li><a href="shop_grid.html">brands</a></li>
                            <li><a href="shop_grid.html">furniture</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="shop_grid.html">Handbags</a>
                <ul class="">
                    <li><a href="shop_grid.html">Footwear Man</a>
                        <ul>
                            <li><a href="shop_grid.html">Gold Rigng</a></li>
                            <li><a href="shop_grid.html">paltinum Rings</a></li>
                            <li><a href="shop_grid.html">Silver Ring</a></li>
                            <li><a href="shop_grid.html">Tungsten Ring</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">Footwear Womens</a>
                        <ul>
                            <li><a href="shop_grid.html">Brand Gold</a></li>
                            <li><a href="shop_grid.html">paltinum Rings</a></li>
                            <li><a href="shop_grid.html">Silver Ring</a></li>
                            <li><a href="shop_grid.html">Tungsten Ring</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">Band</a>
                        <ul>
                            <li><a href="shop_grid.html">Platinum Necklaces</a></li>
                            <li><a href="shop_grid.html">Gold Ring</a></li>
                            <li><a href="shop_grid.html">silver ring</a></li>
                            <li><a href="shop_grid.html">Diamond Bracelets</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="shop_grid.html">Shoes</a>
                <ul class="">
                    <li><a href="shop_grid.html">Rings</a>
                        <ul>
                            <li><a href="shop_grid.html">Coats & jackets</a></li>
                            <li><a href="shop_grid.html">blazers</a></li>
                            <li><a href="shop_grid.html">raincoats</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">Dresses</a>
                        <ul>
                            <li><a href="shop_grid.html">footwear</a></li>
                            <li><a href="shop_grid.html">blazers</a></li>
                            <li><a href="shop_grid.html">clog sandals</a></li>
                            <li><a href="shop_grid.html">combat boots</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">Accessories</a>
                        <ul>
                            <li><a href="shop_grid.html">bootees Bags</a></li>
                            <li><a href="shop_grid.html">blazers</a></li>
                            <li><a href="shop_grid.html">jackets</a></li>
                            <li><a href="shop_grid.html">kids</a></li>
                            <li><a href="shop_grid.html">shoes</a></li>
                        </ul>
                    </li>
                    <li><a href="shop_grid.html">Top</a>
                        <ul>
                            <li><a href="shop_grid.html">briefs</a></li>
                            <li><a href="shop_grid.html">camis</a></li>
                            <li><a href="shop_grid.html">nigthwear</a></li>
                            <li><a href="shop_grid.html">kids</a></li>
                            <li><a href="shop_grid.html">shapewer</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            </ul>
        </nav>
    </div>
    <!-- End Mobile Menu -->
    <!-- Breadcrumbs -->

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Go to Home Page" href="../to/index">主页</a><span>&raquo;</span></li>
                        <li><strong>我的关注</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Main Container -->
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-xs-12">
                    <div class="my-account">
                        <div class="page-title">
                            <h2>我的收藏</h2>
                        </div>
                        <div class="wishlist-item table-responsive">
                            <table class="col-md-12" id="collectTableId"></table>
                            <button onclick='allAdd()' class="btn btn-success glyphicon">全部添加到购物车</button>
                        </div>
                    </div>
                </div>
                <aside class="right sidebar col-sm-3 col-xs-12">
                    <div class="sidebar-account block">
                        <div class="sidebar-bar-title">
                            <h3>我的账户</h3>
                        </div>
                        <div class="block-content">
                            <ul>
                                <li><a href="../toCart">我的购物车</a></li>
                                <li><a href="#">我的订单</a></li>
                                <li><a href="#">我的评论</a></li>
                                <li><a href="#">收货地址设置</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="compare block">
                        <div class="sidebar-bar-title">
                            <h3>商业合作</h3>
                        </div>
                        <div class="block-content">
                            <ol id="compare-items">
                                <li class="item"><a href="http://www.baidu.com">百度搜索</a></li>
                                <li class="item"><a href="http://www.sina.com">新浪微博</a></li>
                                <li class="item"><a href="http://www.baidu.com">异清轩博</a>客</li>
                            </ol>
                            <div class="ajax-checkout">
                                <button type="submit" title="Submit" class="button button-compare"> <span><i class="fa fa-signal"></i></span>欢迎来电，联系热线：400-8888-888</button>

                                <button onclick="location.href='https://tieba.baidu.com/f?kw=jd'" type="submit" title="Submit" class="button button-clear" style="margin-left: 70px;margin-top: 5px"> <span ><i class="fa fa-eraser"></i>关于我们</span></button>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- our clients Slider -->

    <div class="bottom-service">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="bottom-service-box">
                    <div class="box-outer">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="service-box-center"> <span class="bottom-service-title">Buy 2 items</span>
                                <div class="description">
                                    <div class="heading">Get one for free!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
                            <div class="service-box-center"> <span class="bottom-service-title">Daily Sales</span>
                                <div class="description">
                                    <div class="heading">Today up to 45% off!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
                            <div class="service-box-center"> <span class="bottom-service-title">NEW ARRIVAL</span>
                                <div class="description">
                                    <div class="heading">Sale up to 75% off</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
                            <div class="service-box-center"> <span class="bottom-service-title">UpTO 45% off</span>
                                <div class="description">
                                    <div class="heading">Your first purchase</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="totop"> </a> </div>

<!-- End Footer -->
<!-- JS -->

<script>
    $(function () {
        collect();
        loginUserAndLongout();
        initTypeTwo();
    })
    function collect() {
        var aa = "   <thead>\n" +
            "                                <tr>\n" +
            "                                    <th >删除</th>\n" +
            "                                    <th >图片</th>\n" +
            "                                    <th >商品名称</th>\n" +
            "                                    <th >价格</th>\n" +
            "                                    <th >添加到购物车</th>\n" +
            "                                </tr>\n" +
            "                                </thead>";
            $.ajax({
                url:"../collect/queryCollect",
                success:function (data) {
                    for(var i=0;i<data.length;i++){
                        aa+="<tbody>" +
                            "<tr><th><button class=\"btn btn-link\" onclick=\"deleteCollect("+data[i].id+")\" >x</button></th>" +
                            "<th><img width='80' height='80' src='"+data[i].colorImg+"'></th>" +
                            "<th><input type='hidden' value='"+data[i].commodityId+"' name='alladd'/>"+data[i].productName+"</th>" +
                            "<th><input type='hidden' value='"+data[i].id+"' name='alladd2'/>"+data[i].productPrice+"</th>" +
                            "<th><button onclick='jiaru("+data[i].commodityId+","+data[i].id+")' class=\"btn btn-success \">加入购物车</button></th></tr> "+
                            "</tbody>";
                    }
                    $("#collectTableId").html(aa);
                }
            })
    }
    function jiaru(commodityId,id) {
        location.href="../commodity/queryCommodityById?id="+commodityId;
        //alert(commodityId);
        //alert(id);
    }
    function deleteCollect(id) {
        $.ajax({
            url:"../collect/deleteCollect?id="+id,
            success:function () {
                location.reload();
            }
        })
    }
    function allAdd() {
        var commodityIds = "";
        var ids = "";
        $("[name='alladd']").each(function () {
            commodityIds+=commodityIds==""?(this).value:","+(this).value
        })
        $("[name='alladd2']").each(function () {
            ids+=ids==""?(this).value:","+(this).value
        })
        alert(commodityIds)
        alert(ids)
    }

    <!--主搜索下拉响应时间-->
    function selecFacon(id){
        location.href="../tosolr/tosolrshow?flag="+id;
    }


    <!--注销-->
    function Longout(){
        location.href="../comd/loginOut";
    }


    <!--登录-->
    function loginUserAndLongout(){
        $.ajax({
            url:"../comd/loginAndLoginout",
            type:"post",
            success:function(data){
                if(data.cmsUser!==111){
                    $("#loginIdd").html('<button data-toggle="modal" style="font-weight:bold;font-size:20px" role="button" onclick="Longout()" id="login_register_btn" type="button" class="btn btn-link">注销</button>')
                }else{
                    $("#loginIdd").html('<button data-toggle="modal" style="font-weight:bold;font-size:20px" role="button" onclick="loginAgain()" id="login_register_btn" type="button" class="btn btn-link">登录</button>')
                }
            }
        })
    }


    function queryTypeHead(){
        var data = $("#headinputid").val();
        queryType(data);
    }
    <!--标签框-->
    function queryType(id){
        location.href="../tosolr/tosolrshow?flag="+id;
    }


    <!--查询红框类型-->
    function initTypeTwo(){
        $.ajax({
            url:"../comd/queryTypeTwo",
            type:"post",
            dataType:"json",
            success:function(data){
                var count=0;
                for(var i=0;i<data.length;i++){
                    var phoneInfo="";
                    count++;
                    var id="";
                    var text="";
                    var arr=data[i].productBrand_Id.split(",");
                    var arr1=data[i].productBrand_name.split(",");
                    var arrlength=arr.length;
                    for(var j=0;j<arrlength;j++){
                        phoneInfo+='<li><a href="javascript:queryType('+arr[j]+')">'+arr1[j]+'</a></li>'
                    }
                    if(count==1){
                        $("#phoneIdd").html(phoneInfo)
                    }
                    if(count==2){
                        $("#compIdd").html(phoneInfo)
                    }
                    if(count==3){
                        $("#tevleIdd").html(phoneInfo)
                    }
                }
            }
        })
    }
</script>

</body>
</html>
