<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MyStore premium HTML5 &amp; CSS3 template</title>
    <meta name="description" content="">

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700' rel='stylesheet' type='text/css'>

    <!-- CSS Style -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

    <!-- font-awesome & simple line icons CSS -->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="../css/simple-line-icons.css" media="all">

    <!-- owl.carousel CSS -->
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.transitions.css">

    <!-- animate CSS  -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css" media="all">

    <!-- flexslider CSS -->
    <link rel="stylesheet" type="text/css" href="../css/flexslider.css" >

    <!-- jquery-ui.min CSS  -->
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">

    <!-- Mean Menu CSS -->
    <link rel="stylesheet" type="text/css" href="../css/meanmenu.min.css">

    <!-- nivo-slider css -->
    <link rel="stylesheet" type="text/css" href="../css/nivo-slider.css">

    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all">
    <!-- jquery js -->
    <script type="text/javascript" src="../javascript/jquery.min.js"></script>

    <script src="../javascript/bootstrap.min.js"></script>

    <!-- Mean Menu js -->
    <script type="text/javascript" src="../javascript/jquery.meanmenu.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="../javascript/owl.carousel.min.js"></script>

    <!-- bxslider js -->
    <script type="text/javascript" src="../javascript/jquery.bxslider.js"></script>

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="../javascript/jquery-ui.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="../javascript/countdown.js"></script>

    <!-- wow JS -->
    <script type="text/javascript" src="../javascript/wow.min.js"></script>

    <!--cloud-zoom js -->
    <script type="text/javascript" src="../javascript/cloud-zoom.js"></script>

    <!-- bootstrap 弹框 -->
    <script src="../bootstrap-bootbox/bootbox.js"></script>

    <!-- nivo slider js -->
    <script type="text/javascript" src="../javascript/jquery.nivo.slider.js"></script>

    <!-- flexslider js -->
    <script type="text/javascript" src="../javascript/jquery.flexslider.js"></script>
    <link href="../toastr.css" rel="stylesheet" />
    <script src="../toastr.min.js"></script>

</head>

<body class="wishlist_page">





<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div id="page">
    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-xs-12">
                        <!-- Header Logo -->
                        <div class="logo"><a title="e-commerce" href="../to/index"><img alt="e-commerce" src="../images/pulse1.png"></a> </div>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
                        <!-- Search -->
                        <div class="top-search">
                            <div id="search">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" name="search"  id="headinputid">
                                        <button class="btn-search" type="button" onclick="queryTypeHead()"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- End Search -->
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-12 top-cart">
                        <div class="link-wishlist"> <a href="#">  <i class="fa fa-heart fa-lg"></i> </a> </div>
                        <div class="top-cart-contain">
                            <div class="mini-cart">
                                <div class="basket dropdown-toggle">
                                    <a href="../toCart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- Start Menu Area -->
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-xs">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li ><a href="javascript:queryType('手机')">手机</a>
                                    <ul class="dropdown">

                                        <span id="phoneIdd"></span>

                                    </ul>
                                </li>
                                <li ><a href="javascript:queryType('电脑')">电脑</a>
                                    <ul class="dropdown">

                                        <span id="compIdd"></span>

                                    </ul>
                                </li>
                                <li ><a href="javascript:queryType('电视')">电视</a>
                                    <ul class="dropdown">

                                        <span id="tevleIdd"></span>

                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- Signup -->
                        <p class="top-Signup"><span id="loginIdd"></span></p>
                        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header"> <img id="img_logo" src="../images2/logo.png" alt="logo">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
                                    </div>
                                    <div id="div-forms">
                                        <form id="login-form">
                                            <div class="modal-body">
                                                <div id="div-login-msg"> <span id="text-login-msg">Username or email address </span> </div>
                                                <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                                                <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">
                                                        Remember me </label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div>
                                                    <button type="submit" class="btn-login">Login</button>
                                                </div>
                                                <div>
                                                    <button onclick="location.href='account_page.html'" id="login_register_btn" type="button" class="btn btn-link">Register</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END # MODAL LOGIN -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Menu Area -->

    <!-- Breadcrumbs -->

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Go to Home Page" href="../to/index">主页</a><span>&raquo;</span></li>
                        <li><strong>我的关注</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Main Container -->
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-xs-12">
                    <div class="my-account">
                        <div class="page-title">
                            <h2 id="h2ID"></h2>
                        </div>
                        <div class="wishlist-item table-responsive">
                            <table class="col-md-12" id="collectTableId"></table>
                           <!-- <button onclick='allAdd()' class="btn btn-success glyphicon">全部添加到购物车</button>-->
                        </div>
                    </div>
                </div>
                <aside class="right sidebar col-sm-3 col-xs-12">
                    <div class="sidebar-account block">
                        <div class="sidebar-bar-title">
                            <h3>我的账户</h3>
                        </div>
                        <div class="block-content">
                            <ul>
                                <li><a href="../toCart">我的购物车</a></li>
                                <li><a href="javascript:myOrder()">我的订单</a></li>
                                <li><a href="#">收货地址设置</a></li>
                                <li><a href="javascript:collect()">我的收藏</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="compare block">
                        <div class="sidebar-bar-title">
                            <h3>商业合作</h3>
                        </div>
                        <div class="block-content">
                            <ol id="compare-items">
                                <li class="item"><a href="http://www.baidu.com">百度搜索</a></li>
                                <li class="item"><a href="http://www.sina.com">新浪微博</a></li>
                                <li class="item"><a href="http://www.baidu.com">异清轩博</a>客</li>
                            </ol>
                            <div class="ajax-checkout">
                                <button type="submit" title="Submit" class="button button-compare"> <span><i class="fa fa-signal"></i></span>欢迎来电，联系热线：400-8888-888</button>

                                <button onclick="location.href='https://tieba.baidu.com/f?kw=jd'" type="submit" title="Submit" class="button button-clear" style="margin-left: 70px;margin-top: 5px"> <span ><i class="fa fa-eraser"></i>关于我们</span></button>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- our clients Slider -->

    <div class="bottom-service">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="bottom-service-box">
                    <div class="box-outer">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="service-box-center"> <span class="bottom-service-title">Buy 2 items</span>
                                <div class="description">
                                    <div class="heading">Get one for free!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
                            <div class="service-box-center"> <span class="bottom-service-title">Daily Sales</span>
                                <div class="description">
                                    <div class="heading">Today up to 45% off!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
                            <div class="service-box-center"> <span class="bottom-service-title">NEW ARRIVAL</span>
                                <div class="description">
                                    <div class="heading">Sale up to 75% off</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
                            <div class="service-box-center"> <span class="bottom-service-title">UpTO 45% off</span>
                                <div class="description">
                                    <div class="heading">Your first purchase</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="totop"> </a> </div>

<!-- End Footer -->
<!-- JS -->

<script>
    $(function () {
        collect();
        loginUserAndLongout();
        initTypeTwo();
    })
    function collect() {
        $("#h2ID").html("我的收藏");
        var aa = "   <thead>\n" +
            "                                <tr>\n" +
            "                                    <th >删除</th>\n" +
            "                                    <th >图片</th>\n" +
            "                                    <th >商品名称</th>\n" +
            "                                    <th >价格</th>\n" +
            "                                    <th >添加到购物车</th>\n" +
            "                                </tr>\n" +
            "                                </thead>";
            $.ajax({
                url:"../collect/queryCollect",
                success:function (data) {
                    for(var i=0;i<data.length;i++){
                        aa+="<tbody>" +
                            "<tr><th><button class=\"btn btn-link\" onclick=\"deleteCollect("+data[i].id+")\" >x</button></th>" +
                            "<th><a href='../commodity/queryCommodityById?id="+data[i].commodityId+"'><img width='80' height='80' src='"+data[i].colorImg+"'></a></th>" +
                            "<th><a href='../commodity/queryCommodityById?id="+data[i].commodityId+"'><input type='hidden' value='"+data[i].commodityId+"' name='alladd'/>"+data[i].productName+"</a></th>" +
                            "<th><input type='hidden' value='"+data[i].id+"' name='alladd2'/>"+data[i].productPrice+"</th>" +
                            "<th><button onclick='jiaru("+data[i].commodityId+","+data[i].id+")' class=\"btn btn-success \">加入购物车</button></th></tr> "+
                            "</tbody>";
                    }
                    $("#collectTableId").html(aa);
                }
            })
    }
    function jiaru(commodityId,id) {
        location.href="../commodity/queryCommodityById?id="+commodityId;
        //alert(commodityId);
        //alert(id);
    }
    function deleteCollect(id) {
        $.ajax({
            url:"../collect/deleteCollect?id="+id,
            success:function () {
                location.reload();
            }
        })
    }
   /* function allAdd() {
        var commodityIds = "";
        var ids = "";
        $("[name='alladd']").each(function () {
            commodityIds+=commodityIds==""?(this).value:","+(this).value
        })
        $("[name='alladd2']").each(function () {
            ids+=ids==""?(this).value:","+(this).value
        })
        alert(commodityIds)
        alert(ids)
    }*/

    function myOrder() {
        $("#h2ID").html("我的订单");
        var pp = "   <thead>\n" +
            "                                <tr>\n" +
            "                                    <th >订单id</th>\n" +
            "                                    <th >订单状态</th>\n" +
            "                                    <th >用户名</th>\n" +
            "                                    <th >联系电话</th>\n" +
            "                                    <th >收货地址</th>\n" +
            "                                    <th >收货人</th>\n" +
            "                                    <th >订单详细</th>\n" +
            "                                </tr>\n" +
            "                                </thead>";
        $.ajax({
            url:"../collect/myOrder",
            success:function (data) {
                for(var i=0;i<data.length;i++){
                    var status = "";
                    var detailed = "";
                    if(data[i].status == 0){
                        status = "未付款";
                        detailed = "商品未付款请支付";
                    }else if (data[i].status == 1){
                        status = "待付款";
                        detailed = "商品未付款请支付";
                    }else if (data[i].status == 2){
                        status = "已付款";
                        detailed= "<input onclick='adddetailed("+data[i].orderid+")' size='3' class=\"btn btn-success \" value='详细'>";
                    }
                    pp += "<tbody>" +
                        "<tr>" +
                        "<th>"+data[i].orderid+"</th>" +
                        "<th>"+status+"</th>" +
                        "<th>"+data[i].username+"</th>" +
                        "<th>"+data[i].recphone+"</th>" +
                        "<th>"+data[i].recarea+"</th>" +
                        "<th>"+data[i].receiver+"</th>" +
                        "<th>"+detailed+"</th>" +
                        "</tr>" +
                        "</tbody>";
                    $("#collectTableId").html(pp);
                }
            }
        })

    }
    function adddetailed(id) {
        $("#h2ID").html("<a href='javascript:myOrder()'>返回我的订单</a>");
        var ii = "   <thead>\n" +
            "                                <tr>\n" +
            "                                    <th >商品名称</th>\n" +
            "                                    <th >商品价格</th>\n" +
            "                                    <th >入网型号</th>\n" +
            "                                    <th >商品简介</th>\n" +
            "                                    <th >商品品牌</th>\n" +
            "                                    <th >评论</th>\n" +
            "                                </tr>\n" +
            "                                </thead>";
        $.ajax({
            url:"../collect/detailed?id="+id,
            success:function (data) {
                for(var i=0;i<data.length;i++){
                    ii+="<tbody>" +
                        "<tr>" +
                        "<th><a href='../commodity/queryCommodityById?id="+data[i].productId+"'>"+data[i].productName+"</a></th>" +
                        "<th>"+data[i].commodityPrice+"</th>" +
                        "<th>"+data[i].theNetModel+"</th>" +
                        "<th>"+data[i].productIntroduction+"</th>" +
                        "<th>"+data[i].productBrandname+"</th>" +
                        "<th><input onclick='addTalk("+data[i].productId+")' size='3' class=\"btn btn-success \" value='评论'></th>" +
                        "</tr>" +
                        "</tbody>";
                }
                $("#collectTableId").html(ii);
            }
        })

    }
    
    function addTalk(id) {
        $.ajax({
            url:"../collect/addTalk?id="+id,
            success:function (data) {
                if(data==1){
                    $("#h2ID").html("<a href='javascript:myOrder()'>返回我的订单</a>");
                    var ii = "<form class=\"form-horizontal\" id=\"saveTalkForm\">\n" +
                        "    <div class=\"form-group\">\n" +
                    "        <label for=\"talkinfo\" class=\"col-sm-2 control-label\">评论:</label>\n" +
                    "        <div class=\"col-sm-8\">\n" +
                    "            <input type=\"text\" name=\"talkinfo\" id=\"talkinfo\" class=\"form-control\" placeholder=\"评论\" />\n" +
                    "        </div>\n" +
                    "       </div>\n" +
                        "<div class=\"form-group\">\n" +
                        "        <div class=\"col-sm-10\">\n" +
                        "            <input type=\"button\" onclick='addTalk2("+id+")' class=' btn btn-success'  value='新增'/>\n" +
                        "        </div>\n" +
                        "    </div>" +
                        "</form>";
                    $("#collectTableId").html(ii);
                }else{
                    toastr.success('商品以评论');
                }
            }
        })
    }
    function addTalk2(id) {
        $.ajax({
            url: "../collect/addTalk2",
            type: "post",
            data: {id:id,talkinfo:$('#talkinfo').val()},
            success: function(data){
                location.href="../collect/tocollect";
            }
        })
    }
    <!--主搜索下拉响应时间-->
    function selecFacon(id){
        location.href="../tosolr/tosolrshow?flag="+id;
    }

    toastr.options.positionClass = 'toast-bottom-right';
    <!--注销-->
    function Longout(){
        location.href="../comd/loginOut";
    }


    <!--登录-->
    function loginUserAndLongout(){
        $.ajax({
            url:"../comd/loginAndLoginout",
            type:"post",
            success:function(data){
                if(data.cmsUser!==111){
                    $("#loginIdd").html('<button data-toggle="modal" style="font-weight:bold;font-size:20px" role="button" onclick="Longout()" id="login_register_btn" type="button" class="btn btn-link">注销</button>')
                }else{
                    $("#loginIdd").html('<button data-toggle="modal" style="font-weight:bold;font-size:20px" role="button" onclick="loginAgain()" id="login_register_btn" type="button" class="btn btn-link">登录</button>')
                }
            }
        })
    }


    function queryTypeHead(){
        var data = $("#headinputid").val();
        queryType(data);
    }
    <!--标签框-->
    function queryType(id){
        location.href="../tosolr/tosolrshow?flag="+id;
    }


    <!--查询红框类型-->
    function initTypeTwo(){
        $.ajax({
            url:"../comd/queryTypeTwo",
            type:"post",
            dataType:"json",
            success:function(data){
                var count=0;
                for(var i=0;i<data.length;i++){
                    var phoneInfo="";
                    count++;
                    var id="";
                    var text="";
                    var arr=data[i].productBrand_Id.split(",");
                    var arr1=data[i].productBrand_name.split(",");
                    var arrlength=arr.length;
                    for(var j=0;j<arrlength;j++){
                        phoneInfo+='<li><a href="javascript:queryType(\''+arr1[j]+'\')">'+arr1[j]+'</a></li>'
                    }
                    if(count==1){
                        $("#phoneIdd").html(phoneInfo)
                    }
                    if(count==2){
                        $("#compIdd").html(phoneInfo)
                    }
                    if(count==3){
                        $("#tevleIdd").html(phoneInfo)
                    }
                }
            }
        })
    }


    <!--未登录访问页面-->
    function loginAgain(){
        location.href='../to/cmsLogin'
    }
</script>

</body>
</html>
