<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<!-- Basic page needs -->
<meta charset="utf-8">
<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>MyStore premium HTML5 &amp; CSS3 template</title>
<meta name="description" content="">

<!-- Mobile specific metas  -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon  -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700' rel='stylesheet' type='text/css'>

<!-- CSS Style -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

<!-- font-awesome & simple line icons CSS -->
<link rel="stylesheet" type="text/css" href="../css/font-awesome.css" media="all">
<link rel="stylesheet" type="text/css" href="../css/simple-line-icons.css" media="all">

<!-- owl.carousel CSS -->
<link rel="stylesheet" type="text/css" href="../css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../css/owl.theme.css">
<link rel="stylesheet" type="text/css" href="../css/owl.transitions.css">

<!-- animate CSS  -->
<link rel="stylesheet" type="text/css" href="../css/animate.css" media="all">

<!-- flexslider CSS -->
<link rel="stylesheet" type="text/css" href="../css/flexslider.css" >

<!-- jquery-ui.min CSS  -->
<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">

<!-- Mean Menu CSS -->
<link rel="stylesheet" type="text/css" href="../css/meanmenu.min.css">

<!-- nivo-slider css -->
<link rel="stylesheet" type="text/css" href="../css/nivo-slider.css">

<!-- style CSS -->
<link rel="stylesheet" type="text/css" href="../css/style.css" media="all">
  <!-- jquery js -->
  <script type="text/javascript" src="../js/jquery.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>

  <!-- Mean Menu js -->
  <script type="text/javascript" src="../js/jquery.meanmenu.min.js"></script>

  <!-- owl.carousel.min js -->
  <script type="text/javascript" src="../js/owl.carousel.min.js"></script>

  <!-- bxslider js -->
  <script type="text/javascript" src="../js/jquery.bxslider.js"></script>

  <!--jquery-ui.min js -->
  <script type="text/javascript" src="../js/jquery-ui.js"></script>

  <!-- countdown js -->
  <script type="text/javascript" src="../js/countdown.js"></script>

  <!-- wow JS -->
  <script type="text/javascript" src="../js/wow.min.js"></script>

  <!--cloud-zoom js -->
  <script type="text/javascript" src="../js/cloud-zoom.js"></script>

  <!-- main js -->
  <script type="text/javascript" src="../js/main.js"></script>

  <!-- nivo slider js -->
  <script type="text/javascript" src="../js/jquery.nivo.slider.js"></script>

  <!-- flexslider js -->
  <script type="text/javascript" src="../js/jquery.flexslider.js"></script>
  <!--vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--分页组件-->
  <link rel="stylesheet" type="text/css" href="../jquerypage/css/zxf_page.css">
  <script src="../jquerypage/js/zxf_page.js"></script>
  <!--vue分页-->
  <script src="../vuepage/vue.js"></script>
  <script src="../vuepage/zpageNav.js"></script>
  <link rel="stylesheet" type="text/css" href="../vuepage/zpageNav.css">
</head>

<body class="shop_grid_page">

     

<!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]--> 


<div id="page"> 
<!-- Header -->
  <header>
    <div class="header-container">

      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-xs-12"> 
            <!-- 跳转到主页 -->
            <div class="logo"><a title="e-commerce"  href="../to/index"><img alt="e-commerce" src="../images/logo.png"></a> </div>
            <!-- End Header Logo --> 
          </div>
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6"> 
            <!-- 搜索 -->
            <div class="top-search">
              <div id="search">
                <form>
                  <div class="input-group">
                    <select class="cate-dropdown hidden-xs hidden-sm" name="category_id" onchange="selecFacon(this.value)">
                      <!--主搜有下拉-->
                      <option value="">所有分类</option>
                      <option value="1">手机</option>
                      <option value="2">电脑</option>
                      <option value="3">电视</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Search" th:value="${flag}" name="search">
                    <button class="btn-search" type="button" onclick="queryByflag()"><i class="fa fa-search"></i></button>
                  </div>
                </form>
              </div>
            </div>
            
            <!-- End Search --> 
          </div>
          <div class="col-lg-3 col-sm-4 col-xs-12 top-cart">
            <div class="link-wishlist"> <a href="javascript:towish()"><i class="fa fa-heart fa-lg"></i> </a> </div>
            <div class="top-cart-contain">
              <div class="mini-cart">
                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="#">
                  <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
                  <div class="shoppingcart-inner"><span class="cart-title">Shopping Cart</span> <span class="cart-total">4 Item(s): $520.00</span></div>
                  </a></div>
                <div>
                  <div class="top-cart-content">
                    <div class="block-subtitle hidden-xs">Recently added item(s)</div>
                    <ul id="cart-sidebar" class="mini-products-list">
                      <li class="item odd"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="../images/products/img07.jpg" alt="Lorem ipsum dolor" width="65"></a>
                        <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                          <p class="product-name"><a href="#">Lorem ipsum dolor sit amet Consectetur</a> </p>
                          <strong>1</strong> x <span class="price">$20.00</span> </div>
                      </li>
                      <li class="item even"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="../images/products/img08.jpg" alt="Lorem ipsum dolor" width="65"></a>
                        <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                          <p class="product-name"><a href="#">Consectetur utes anet adipisicing elit</a> </p>
                          <strong>1</strong> x <span class="price">$230.00</span> </div>
                      </li>
                      <li class="item last odd"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="../images/products/img10.jpg" alt="Lorem ipsum dolor" width="65"></a>
                        <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                          <p class="product-name"><a href="#">Sed do eiusmod tempor incidist</a> </p>
                          <strong>2</strong> x <span class="price">$420.00</span> </div>
                      </li>
                    </ul>
                    <div class="top-subtotal">Subtotal: <span class="price">$520.00</span></div>
                    <div class="actions">
                      <button onclick="location.href='checkout.html'" class="btn-checkout" type="button"><i class="fa fa-check"></i><span>Checkout</span></button>
                      <button onclick="location.href='shopping_cart.html'"  class="view-cart" type="button"><i class="fa fa-shopping-cart"></i> <span>View Cart</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header --> 
   <!-- Start Menu Area -->
  <div class="menu-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 hidden-xs">
          <div class="main-menu">
            <nav>
              <ul>
                <li ><a href="javascript:queryType(1)">手机</a>
                  <ul class="dropdown">

                    <span id="phoneIdd"></span>

                  </ul>
                </li>
                <li ><a href="javascript:queryType(2)">电脑</a>
                  <ul class="dropdown">

                    <span id="compIdd"></span>

                  </ul>
                </li>
                <li ><a href="javascript:queryType(3)">电视</a>
                  <ul class="dropdown">

                    <span id="tevleIdd"></span>

                  </ul>
                </li>
              </ul>
            </nav>
            <!-- Signup -->
            <p class="top-Signup"><span id="loginIdd"></span></p>
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header"> <img id="img_logo" src="../images/logo.png" alt="logo">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
                  </div>
                  <div id="div-forms">
                    <form id="login-form">
                      <div class="modal-body">
                        <div id="div-login-msg"> <span id="text-login-msg">Username or email address </span> </div>
                        <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                        <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                            Remember me </label>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div>
                          <button type="submit" class="btn-login">Login</button>
                        </div>
                        <div>
                          <button onclick="location.href='account_page.html'" id="login_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- END # MODAL LOGIN -->
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Menu Area --> 
  
  <!-- Start Mobile Menu -->
  <div class="mobile-menu hidden-sm hidden-md hidden-lg">
    <nav><span class="mobile-menu-title">Categories</span>
      <ul>
        <li class=""><a href="index.html">Home</a>
          <li><a href="../Version1/index.html">Home Version 1</a></li>
                  <li><a href="../Version2/index.html">Home Version 2</a></li>
                  <li><a href="../Version3/index.html">Home Version 3</a></li>
                  <li><a href="../Version4/index.html">Home Version 4</a></li>
                  <li><a href="index.html">Home Version 5</a></li>
                 
          </ul>
        </li>
        <li><a href="shop_grid.html">Pages</a>
          <ul>
            <li><a href="shop_grid.html" class="">Shop Pages </a>
              <ul>
                <li> <a href="shop_grid.html"> Shop grid </a> </li>
                <li> <a href="shop_grid_right_sidebar.html"> Shop grid right sidebar</a> </li>
                <li> <a href="shop_list.html"> Shop list </a> </li>
                <li> <a href="shop_list_right_sidebar.html"> Shop list right sidebar</a> </li>
                <li> <a href="shop_grid_full_width.html"> Shop Full width </a> </li>
              </ul>
            </li>
            <li><a href="shop_grid.html">Ecommerce Pages </a>
              <ul>
                <li> <a href="wishlist.html"> Wishlists </a> </li>
                <li> <a href="checkout.html"> Checkout </a> </li>
                <li> <a href="#"> Compare </a> </li>
                <li> <a href="shopping_cart.html"> Shopping cart </a> </li>
                <li> <a href="quick_view.html"> Quick View </a> </li>
              </ul>
            </li>
            <li> <a href="shop_grid.html">Static Pages </a>
              <ul>
                <li> <a href="account_page.html"> Create Account Page </a> </li>
                <li> <a href="about_us.html"> About Us </a> </li>
                <li> <a href="contact_us.html"> Contact us </a> </li>
                <li> <a href="404error.html"> Error 404 </a> </li>
                <li> <a href="faq.html"> FAQ </a> </li>
              </ul>
            </li>
            <li> <a href="shop_grid.html">Product Categories </a>
              <ul>
                <li> <a href="cat-3-col.html"> 3 Column Sidebar </a> </li>
                <li> <a href="cat-4-col.html"> 4 Column Sidebar</a> </li>
                <li> <a href="cat-4-col-full.html"> 4 Column Full width </a> </li>
                <li> <a href="col3-sidebar.html"> col3 Sidebar</a> </li>
              </ul>
            </li>
            <li> <a href="shop_grid.html">Single Product Pages </a>
              <ul>
                <li><a href="single_product.html"> single product </a> </li>
                <li> <a href="single_product_left_sidebar.html"> single product left sidebar</a> </li>
                <li> <a href="single_product_right_sidebar.html"> single product right sidebar</a> </li>
                <li> <a href="single_product_magnify_zoom.html"> single product magnify zoom</a> </li>
              </ul>
            </li>
            <li> <a href="shop_grid.html"> Blog Pages </a>
              <ul>
                <li><a href="blog_right_sidebar.html">Blog – Right sidebar </a></li>
                <li><a href="blog_left_sidebar.html">Blog – Left sidebar </a></li>
                <li><a href="blog_full_width.html">Blog_ - Full width</a></li>
                <li><a href="single_post.html">Single post </a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="shop_grid.html">Women</a>
          <ul class="">
            <li><a href="">Clother</a>
              <ul>
                <li><a href="shop_grid.html">Cocktail</a></li>
                <li><a href="shop_grid.html">Day</a></li>
                <li><a href="shop_grid.html">Evening</a></li>
                <li><a href="shop_grid.html">Sports</a></li>
                <li><a href="shop_grid.html">Sexy Dress</a></li>
                <li><a href="shop_grid.html">Fsshion Skirt</a></li>
                <li><a href="shop_grid.html">Evening Dress</a></li>
                <li><a href="shop_grid.html">Children's Clothing</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">Dress and skirt</a>
              <ul>
                <li><a href="shop_grid.html">Sports</a></li>
                <li><a href="shop_grid.html">Run</a></li>
                <li><a href="shop_grid.html">Sandals</a></li>
                <li><a href="shop_grid.html">Books</a></li>
                <li><a href="shop_grid.html">A-line Dress</a></li>
                <li><a href="shop_grid.html">Lacy Looks</a></li>
                <li><a href="shop_grid.html">Shirts-T-Shirts</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">shoes</a>
              <ul>
                <li><a href="shop_grid.html">blazers</a></li>
                <li><a href="shop_grid.html">table</a></li>
                <li><a href="shop_grid.html">coats</a></li>
                <li><a href="shop_grid.html">Sports</a></li>
                <li><a href="shop_grid.html">kids</a></li>
                <li><a href="shop_grid.html">Sweater</a></li>
                <li><a href="shop_grid.html">Coat</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class=""><a href="shop_grid.html">Men</a>
          <ul class="">
            <li><a href="shop_grid.html">Bages</a>
              <ul>
                <li><a href="shop_grid.html">Bootes Bages</a></li>
                <li><a href="shop_grid.html">Blazers</a></li>
                <li><a href="shop_grid.html">Mermaid</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">Clothing</a>
              <ul>
                <li><a href="shop_grid.html">coats</a></li>
                <li><a href="shop_grid.html">T-shirt</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">lingerie</a>
              <ul>
                <li><a href="shop_grid.html">brands</a></li>
                <li><a href="shop_grid.html">furniture</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="shop_grid.html">Handbags</a>
          <ul class="">
            <li><a href="shop_grid.html">Footwear Man</a>
              <ul>
                <li><a href="shop_grid.html">Gold Rigng</a></li>
                <li><a href="shop_grid.html">paltinum Rings</a></li>
                <li><a href="shop_grid.html">Silver Ring</a></li>
                <li><a href="shop_grid.html">Tungsten Ring</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">Footwear Womens</a>
              <ul>
                <li><a href="shop_grid.html">Brand Gold</a></li>
                <li><a href="shop_grid.html">paltinum Rings</a></li>
                <li><a href="shop_grid.html">Silver Ring</a></li>
                <li><a href="shop_grid.html">Tungsten Ring</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">Band</a>
              <ul>
                <li><a href="shop_grid.html">Platinum Necklaces</a></li>
                <li><a href="shop_grid.html">Gold Ring</a></li>
                <li><a href="shop_grid.html">silver ring</a></li>
                <li><a href="shop_grid.html">Diamond Bracelets</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="shop_grid.html">Shoes</a>
          <ul class="">
            <li><a href="shop_grid.html">Rings</a>
              <ul>
                <li><a href="shop_grid.html">Coats & jackets</a></li>
                <li><a href="shop_grid.html">blazers</a></li>
                <li><a href="shop_grid.html">raincoats</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">Dresses</a>
              <ul>
                <li><a href="shop_grid.html">footwear</a></li>
                <li><a href="shop_grid.html">blazers</a></li>
                <li><a href="shop_grid.html">clog sandals</a></li>
                <li><a href="shop_grid.html">combat boots</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">Accessories</a>
              <ul>
                <li><a href="shop_grid.html">bootees Bags</a></li>
                <li><a href="shop_grid.html">blazers</a></li>
                <li><a href="shop_grid.html">jackets</a></li>
                <li><a href="shop_grid.html">kids</a></li>
                <li><a href="shop_grid.html">shoes</a></li>
              </ul>
            </li>
            <li><a href="shop_grid.html">Top</a>
              <ul>
                <li><a href="shop_grid.html">briefs</a></li>
                <li><a href="shop_grid.html">camis</a></li>
                <li><a href="shop_grid.html">nigthwear</a></li>
                <li><a href="shop_grid.html">kids</a></li>
                <li><a href="shop_grid.html">shapewer</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <!-- End Mobile Menu --> 
  <!-- 小标题 -->
  
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <!--主页-->
            <li class="home"> <a title="主页" href="../to/index">主页</a><span>&raquo;</span></li>
            <li class=""> <a title="你的结果" href="javascript:initsolr()">你的结果</a><span></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  <!-- 商品分页及展示页面 -->
  <div class="main-container col1-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-12 col-xs-12">
          <div class="shop-inner">
            <div class="page-title">
              <h2> 手机 & 电脑</h2>
            </div>
            <div class="toolbar column">
              <div class="sorter">
                <div class="short-by">
                  <label>排序方式:</label>
                  <select id="orderid" onchange="initsolr()">
                    <option selected="selected" value="time" >默认</option>
                    <option value="sale">销量</option>
                    <option value="time">新品</option>
                    <option value="price">价格</option>
                  </select>
                  <span><a href="javascript:setdesc(1)">↑</a></span>
                  <span><a href="javascript:setdesc(2)">↓</a></span>
                  <input type="hidden" id="descId" value="1">
                </div>
                <div class="short-by page">
                  <label>显示:</label>
                  <select id="pageCountId" onchange="initsolr()">
                    <option selected="selected">8</option>
                    <option>16</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="product-grid-area" id="goods-show">
              <ul class="products-grid">

                <!--循环-->
                <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-12"  v-for="good in rows">
                  <!--id隐藏域-->
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="btn-quickview"> <a :href="'javascript:querydetais('+good.id+')'"><span>查看详情</span></a></div>
                        <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" :src="good.img" width="165px" height="220px" alt=""></a> </div>
                      <div class="pro-box-info">
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a :title="good.name" href="single_product.html"><span v-html="good.name">{{good.name}}</span></a> </div>
                            <div class="item-content">
                              <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                              <div class="item-price">
                                <div class="price-box">
                                  <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">￥{{good.price}}</span> </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="box-hover">
                          <div class="product-item-actions">
                            <div class="pro-actions">
                              <button class="action add-to-cart" type="button" :onclick="'addtocar('+good.id+')'" title="添加购物车"> <span>添加购物车</span> </button>
                            </div>
                            <div class="add-to-links" data-role="add-to-links"> <a  :href="'javascript:addtowishlist('+good.id+')'" class="action add-to-wishlist" title="收藏"> <span>收藏</span> </a> <a href="#" class="action add-to-compare" title="Add to Compare"> <span>Compare</span> </a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="pagination-area ">
              <div class="zxf_pagediv"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
              v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
    </zpagenav>
  </div>
  <!-- Main Container End --> 
   <!-- our clients Slider -->
  
  <div class="our-clients">
    <div class="slider-items-products">
      <div id="our-clients-slider" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col6"> 
          
          <!-- Item -->
          <div class="item"> <a href="#"><img src="../images/brand1.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a href="#"><img src="../images/brand2.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a href="#"><img src="../images/brand3.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a href="#"><img src="../images/brand4.png" alt="Image"></a> </div>
          <!-- End Item --> 
          <!-- Item -->
          <div class="item"> <a href="#"><img src="../images/brand5.png" alt="Image"></a> </div>
          <!-- End Item --> 
          <!-- Item -->
          <div class="item"> <a href="#"><img src="../images/brand6.png" alt="Image"></a> </div>
          <!-- End Item --> 
          <!-- Item -->
          <div class="item"> <a href="#"><img src="../images/brand7.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-service">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="bottom-service-box">
          <div class="box-outer">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="service-box-center"> <span class="bottom-service-title">Buy 2 items</span>
                <div class="description">
                  <div class="heading">Get one for free!</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
              <div class="service-box-center"> <span class="bottom-service-title">Daily Sales</span>
                <div class="description">
                  <div class="heading">Today up to 45% off!</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
              <div class="service-box-center"> <span class="bottom-service-title">NEW ARRIVAL</span>
                <div class="description">
                  <div class="heading">Sale up to 75% off</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
              <div class="service-box-center"> <span class="bottom-service-title">UpTO 45% off</span>
                <div class="description">
                  <div class="heading">Your first purchase</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
  var vm=new Vue({
    el:'#goods-show',
    data:{
      rows:[]
    }
  })

    $(function () {
      initsolr();
      loginUserAndLongout();
      initTypeTwo();
    })
    function initsolr(start) {
      var order=$("#orderid").val()
      var flag = $("[name='search']").val()
      var pageCount = $("#pageCountId").val()
      var orderType = $("#descId").val()
      var pageNow=1
      if(start!=undefined){
        pageNow=start
      }
      $.ajax({
        url:"../goodssolr/queryGoods",
        type:"post",
        data:{'pageNow':pageNow,'pageCount':pageCount,'flag':flag,'order':order,'orderType':orderType},
        dataType:"json",
        success:function (data) {
              setPage(data.pageNow,data.pageSize)
              vm.rows=[]
              for(let index in data.list) {
                Vue.set(vm.rows, index, data.list[index]);
              };

        }
      })
    }
  <!--主搜索下拉响应时间-->
  function selecFacon(id){
    location.href="../tosolr/tosolrshow?flag="+id;
  }

    /*分页*/
    function setPage(current,pageNum){

      $(".zxf_pagediv").createPage({
        pageNum: pageNum,
        current: current,
        backfun: function(e) {
          $("#pageId").val(e.current)
          initsolr(e.current)
        }
      });
    }
    function setdesc(flag){
      $("#descId").val(flag)
      initsolr()
    }
    function queryByflag() {
      var flag = $("[name='search']").val()
      location.href="../tosolr/tosolrshow?flag="+flag
    }
    /*查看详情*/
    function querydetais(id) {
      location.href="../commodity/queryCommodityById?id="+id;
    }
    /*添加到购物车*/
    function addtocar(id) {
      location.href="../commodity/queryCommodityById?id="+id;
    }
    /*添加到收藏*/
    function addtowishlist(id){
      $.ajax({
        url:"../collect/addCollect?commodityId="+id,
        success:function (data) {
          alert("已加入我的关注")
        }
      })
    }
    /*跳转收藏页面*/
    function towish() {
      location.href="../collect/tocollect";
    }

  <!--登录-->
  function loginUserAndLongout(){
    $.ajax({
      url:"../comd/loginAndLoginout",
      type:"post",
      success:function(data){
        if(data.cmsUser!==111){
          $("#loginIdd").html('<button data-toggle="modal" style="font-weight:bold;font-size:20px" role="button" onclick="Longout()" id="login_register_btn" type="button" class="btn btn-link">注销</button>')
        }else{
          $("#loginIdd").html('<button data-toggle="modal" style="font-weight:bold;font-size:20px" role="button" onclick="loginAgain()" id="login_register_btn" type="button" class="btn btn-link">登录</button>')
        }
      }
    })
  }


  <!--查询红框类型-->
  function initTypeTwo(){
    $.ajax({
      url:"../comd/queryTypeTwo",
      type:"post",
      dataType:"json",
      success:function(data){
        var count=0;
        for(var i=0;i<data.length;i++){
          var phoneInfo="";
          count++;
          var id="";
          var text="";
          var arr=data[i].productBrand_Id.split(",");
          var arr1=data[i].productBrand_name.split(",");
          var arrlength=arr.length;
          for(var j=0;j<arrlength;j++){
            phoneInfo+='<li><a href="javascript:queryType('+arr[j]+')">'+arr1[j]+'</a></li>'
          }
          if(count==1){
            $("#phoneIdd").html(phoneInfo)
          }
          if(count==2){
            $("#compIdd").html(phoneInfo)
          }
          if(count==3){
            $("#tevleIdd").html(phoneInfo)
          }
        }
      }
    })
  }


  <!--标签框-->
  function queryType(id){
    location.href="../tosolr/tosolrshow?flag="+id;
  }


  <!--注销-->
  function Longout(){
    location.href="../comd/loginOut";
  }
</script>

</body>
</html>
