<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.jk.collect.mapper.CollectMapper" >

    <select id="queryCollect" resultType="com.jk.collect.model.Collect">
      select tcl.commodityId commodityId,tcl.id id,tcd.productName productName,tcd.commodityPrice productPrice,tpc.productColor_img colorImg from t_collect tcl
      LEFT JOIN t_commodity tcd on tcl.commodityId = tcd.productId
      LEFT JOIN t_commodity_color tcc on tcc.commodityid = tcd.productId
      LEFT JOIN t_productcolor tpc on tcc.productColorid = tpc.productColor_id
      where tcl.userId = #{userId}
      GROUP BY tcd.productName
    </select>

   <delete id="deleteCollect">
     delete from t_collect where id in (${id})
   </delete>

  <insert id="addCollect">
    insert into t_collect (userId,commodityId) values (#{userId},#{commodityId})
  </insert>

  <select id="myOrder" resultType="com.jk.order.model.TOrder">
    select t.orderid orderid,t.payment payment,t.paytype paytype,
    t.status status,t.createtime createtime,t.userid userid,t.recarea recarea,t.recphone recphone,
    t.receiver receiver,
    cu.cmsUserName username from t_order t
    left join cms_user cu  on t.userid = cu.cmsUserId
    where t.userid = #{cmsUserId}
  </select>

  <select id="detailed" resultType="com.jk.goods.model.Commodity">
    select tcd.productId productId,tcd.productName productName,tcd.commodityPrice commodityPrice,
    tcd.theNetModel theNetModel,tcd.productIntroduction productIntroduction,
    tpb.productBrand_name productBrandname from t_orderinfo tod

    LEFT JOIN t_commodity tcd on tod.orderinfopid = tcd.productId

    LEFT JOIN t_productbrand tpb on tcd.productBrand = tpb.productBrand_id

    where tod.orderinfooid = #{id}
  </select>

  <select id="addTalk" resultType="com.jk.talk.model.Talk">
    select * from t_talk where talkuserid = #{cmsUserId} and talkproductid = #{id}
  </select>

  <insert id="addTalk2" >
    insert into t_talk (talkinfo,talkuserid,talkproductid,talktime)
    values(#{talkinfo},#{userid},#{id},sysdate())
  </insert>

  <select id="queryCollectByCommodityId" resultType="com.jk.collect.model.Collect">
    select * from t_collect where commodityId = #{commodityId}
  </select>

  <delete id="deleteCollectAll">
    delete from t_collect  where commodityId = #{commodityId} and userId= #{cmsUserId}
  </delete>
  </mapper>