<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.jk.user.mapper.UserMapper" >

    <select id="queryCmsUser" resultType="com.jk.user.model.CmsUser">
        SELECT * FROM  cms_user
        WHERE  cmsUserName=#{cmsUserName}
    </select>

    <insert id="addCmsUser" parameterType="com.jk.user.model.CmsUser">
        insert into cms_user(cmsUserName,cmsUserPwd,cmsUserDate,cmsPhone) values
        (#{cmsUserName},#{cmsUserPwd},#{cmsUserDate},#{cmsPhone})
    </insert>

  </mapper>